# Fine-grained PAT (or classic) with read access to content--paulserban.eu.
# In CI this is provided as the CONTENT_REPO_TOKEN repository secret.
CONTENT_REPO_TOKEN=xxx
CONTENT_REPO_GIT_URL=https://github.com/paulAlexSerban/content--paulserban.eu.git

CONTENT_REPO_DIRECTORY=frontend/portfolio-website/content/repo

# Website URL
# if Github Pages is used, the URL will be https://<username>.github.io/<repository>
# Eg. SITE_URL="https://paulalexserban.github.io/prj--personal-portfolio--v2"
SITE_URL="https://www.paulserban.eu"
SITE_HOSTNAME="www.paulserban.eu"
INDEX_NOW_API_KEY="test_1234567890987654321"
