@import '../../_00_abstracts/abstracts.scss';
$breakpoints: $column-grid-12;
$useModules: true;
$block: 'markdownContainer';

/* ------------------------------------ *\
 * MARKDOWN CONTAINER
\* ------------------------------------ */

.#{$block} {
  @include e('base') {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;

    p,
    h2,
    h3,
    h4,
    ul,
    ol,
    table,
    pre {
      grid-column: span 12;

      @include breakpoint($tablet) {
        grid-column: span 8;
      }

      strong {
        @include font($body-bold);
      }
    }

    ul,
    ol {
      padding-inline: var(--lateral-padding);
      list-style: disc;
    }

    li ul {
      margin-top: 0;
    }

    pre {
      margin-top: var(--responsive-spacing-0);
      padding: var(--responsive-spacing-2);
      overflow-x: scroll;
      overflow-y: hidden;
      background-color: var(--focus-background-color);
      transition: background-color 0.3s ease-in-out;
    }
    

    > * + * {
      margin-block-start: var(--responsive-spacing-0);
    }

    > p + h2,
    > ul + h2,
    > p + h3,
    > ul + h3 {
      margin-block-start: var(--responsive-spacing-2);
    }

    > p + ul {
      margin-block-start: var(--responsive-spacing--1);
    }
  }
}
