# Domain name
DOMAIN_NAME="paulserban.eu"

# Website URL
# if Github Pages is used, the URL will be https://<username>.github.io/<repository>
# Eg. SITE_URL="https://paulalexserban.github.io/prj--personal-portfolio--v2"
SITE_URL="https://www.paulserban.eu"

ASSETS_PATH="https://paulserban.eu/assets"

GA_MEASUREMENT_ID="UA-XXXXXXXXX-X"
INDEX_NOW_API_KEY="test_1234567890987654321"